
<div class="row">
        <div class="input-field col s12">
            <h3>REGISTRE ALMACEN<%= title %></h3>
        </div>
        <div class="input-field col s12">
            <input id="txtNameWareHouse" placeholder="jlak" type="text" class="validate">
            <label for="last_name">Nombre Almacen</label>
        </div>
        
    
        <hr>
        <div class="input-field col s12">
            <button id="btnCreateWareHouse" class="btn waves-effect waves-light" type="submit" name="action">CREAR
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    </div>

<script src="/js/speruser.panel.js"></script>

